body { 
     font-size: 14px; 
     line-height: 1.1; 
     padding-bottom:30px;
     font-family: 'Montserrat', sans-serif !important;
}

.well {
     background-color:#ffffff; 
     border: 0 solid #336699;
     padding: 5px; 
     box-shadow: none; 
}

.navbar-brand {
     background-color: white
}
.navbar {
     font-size: 14px; 
     border: 0
}

.dropdown-menu { 
     font-size: 14px;
}

.container-fluid {
     padding-right: 0
}

.checkbox label, .radio label, .checkbox-bs label, .radio-bs label { 
     line-height: 1.6 
}

.radio-inline {
     line-height: 2
}

.form-group {
     margin: 3px
}

.li-custom {
     margin-bottom: 10px;
}

.shiny-options-group {
     margin-top: 3px;
}

.selectize-control {
     margin-bottom: 3px
}

.selectize-input {
     padding: 3px 3px;
     min-height: 10px; 
     line-height: 18px;
     }

.selectize-input {
     font-size: 12px; 
     line-height: 18px;
} 

.selectize-dropdown {
     line-height: 18px; 
}

.control-label { 
     margin-bottom: 1px
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, 
.col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, 
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, 
.col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, 
.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
     padding-left: 5px;
     padding-right: 5px;
}

.down{
     background-color:#4da6ff; 
     color: white; 
     background-image:none; 
     min-width: 22vh;
     font-size: 14px;
     padding: 5px 10px; 
     margin-top: 5px; 
     margin-left: 3px
}

.landing-page-box {
     width:100%; 
     height:100%; 
     min-height:22vh; 
     background-color:white;
     border: 1px solid #AAAAAA; 
     margin-bottom: 5px; 
     float: left; 
     transition: 0.5s ease; 
     position: relative; 
     object-fit: scale-down;
}

.landing-page-box-about {
     width: 100%; 
     height: 100%; 
     min-height: 10.7vh; 
     background-color: white;
     border: 1px solid #AAAAAA; 
     margin-bottom: 5px; 
     float: left; 
     position: relative; 
     object-fit: scale-down;
}

.landing-page-box:hover, .landing-page-box-about:hover {
     -webkit-transform: scale(1.05); 
     -ms-transform: scale(1.05); 
     transform: scale(1.05); 
}

.landing-page-icon {
     width: 100%; 
     height: 85%; 
     min-height: 12vh; 
     background-color: white;
     border: 0px; 
     position: absolute; 
     object-fit: scale-down;
}

.landing-page-about-icon {
     width: 100%; 
     height: 65%; 
     min-height: 5vh; 
     background-color: white;
     border: 0px; 
     position: absolute; 
     object-fit: scale-down;
}

.landing-page-box-title {
     font-size: 16px; 
     text-align:center; 
     color: darkblue;
     font-weight: bold; 
     background-color: none; 
     width: 100%; 
     max-height: 20px; 
     margin-top: 10px;
}

.landing-page-box-about-title {
     font-size: 16px; 
     text-align:center; 
     color: darkblue;
     font-weight: bold; 
     background-color: none; 
     width: 100%; 
     max-height: 20px; 
     margin-top: 5px; 
}

.landing-page-button {
     text-align: center;
     background-image: none; 
     color: black; 
     white-space: normal; 
     border-radius: 0;
     border: 0;
     font-size: 16px; 
     min-height: 16vh; 
     position: absolute; 
     margin-bottom: 0; 
     margin-top: 5px; 
     float: middle;
     width: 100%; 
     opacity: 0;
}

.landing-page-button-about {
     text-align: center;
     background-image: none; 
     color: black; 
     white-space: normal; 
     border-radius: 0; 
     border: 0 ;
     font-size: 14px; 
     position: absolute; 
     min-height: 7vh; 
     margin-bottom: 0; 
     margin-top: 1px; 
     float: middle; 
     width: 100%; 
     opacity:0;
}

.landing-page-button:hover , .landing-page-button:active , .landing-page-button-about:hover, .landing-page-button-about:active {
     opacity: 1; 
     background-color: #fff; /* fallback */
     background-color: rgba(255, 255, 255, 0.8);
     color: darkblue;
     border-color: #fff; /* fallback */
     border-color: rgba(255, 255, 255, 0.8); 
     transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

img.center {
     object-fit: scale-down; 
     position: absolute; 
     width: 100%; 
     height: 100%; 
     margin-left: auto; 
     margin-right: auto; 
     display: block; 
     padding:20px;
}

img.centerabout {
     object-fit: scale-down;
     position: absolute; 
     width: 100%; 
     height: 100%; 
     margin-left: auto; 
     margin-right: auto; 
     display: block; 
     padding: 8px;
}

.landing-page-column {
     padding-right:3vh
}

.icon-lp{
     font-size: 1.3em; 
     padding-right: 4px;
}

.shiny-output-error { 
     visibility: hidden; 
}

.shiny-output-error:before {
     visibility: hidden; 
}

.externallink{
     text-decoration: underline;
} 

.definitionbox {
     width: 100%; 
     height: 100%; 
     text-align: left;
     background-color: white;
     border: 2px solid #2FA4E7; 
     padding: 10px; 
     margin-top: 0; 
     margin-bottom: 5px; 
     float: left; 
     transition: 0.5s ease; 
     position: relative; 
     object-fit: scale-down;
}

.descricao {
    text-align: justify !important;
} 

.foto {
  width: 320px !important;
  heigth: 250px !important;
  margin: auto !important;
}

.col2 {
    columns: 2 350px;         
    -webkit-columns: 2 350px; 
    -moz-columns: 2 350px;
    text-align: center !important;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  
  width: 100% !important
  
}

.row {
  
  margin-right: 15px !important;
  margin-left: 15px !important;
  
}

.column-footer-img {
  float: left;
  width: 10%;
}

.column-footer-text {
  float: left;
  width: 90%;
}

/* Clear floats after the columns */
.row-footer:after {
  content: "";
  display: table;
  clear: both;
}